        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
			<!--			
			<li>
							<a href="#/">首页</a>
						</li>			
                        <li>
							<a href="#/anotherblog">技术博客入口</a>
						</li>
                        <li>
							<a href="#/lab">实验室</a>
						</li>-->
                        <li>
							<a href="#/about">关于我</a>
						</li>
                        <!--<li>
							<a href="#/board">留言板</a>
						</li> -->						
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
